services:
  db:
    image: postgres:16
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    ports:
      - ${DATABASE_PORT}:${DATABASE_PORT}
    volumes:
      - db_data:/var/lib/postgresql/data

  api:
    build: .
    container_name: fast_api_service
    restart: always
    env_file:
      - .env
    depends_on:
      - db
    environment:
      DATABASE_URL: ${DATABASE_URL}
    ports:
      - ${API_PORT}:${API_PORT}
    volumes:
      - ./src:/home/botopia_admin/app/src
      - ./alembic:/home/botopia_admin/app/alembic

volumes:
  db_data:
